* {
  padding: 0px;
  margin: 0px;
  border: none;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.dashboard {
  width: 1200px;
  height: 350px;
  display: flex;
  background-color: #ffffff;
}

.aside {
  height: 100%;
  display: flex;
  flex-grow: 1;
}

.currency {
  height: 24px;
  margin-left: auto;
}
