* {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

  padding: 0px;
  margin: 0px;
  border: none;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.dashboard {
  width: 1200px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.currency {
  height: 24px;
  margin-left: auto;
}

.average {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.error .Responses-Description {
  color: #002033;
}
